/***********************    LeftSummary         start******** */
.MapBox {
  width: 100%;
  height: 100%;
  display: none;
}
.MapBox.active {
  display: block;
}
.map1 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map11 {
  background: url(../img/map1_1.png) no-repeat;
  background-size: 100% 100%;
}
.map2 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map3 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map4 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map5 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map6 {
  background: url(../img/map1.png) no-repeat;
  background-size: 100% 100%;
}
.map61 {
  background: url(../img/u1640.png) no-repeat;
  background-size: 100% 100%;
}
.mapWuhan {
  background-image: url(../img/u11849.png);
  background-size: 100% 100%;
}
.ax_default {
  border-width: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
}
.ax_default .img {
  width: 100%;
  height: 100%;
}
.ax_default_zi,
.ax_default_qi {
  left: 45%;
  top: 60%;
}
.ax_default_pai {
  left: 60%;
  top: 45%;
}
.PopUpBox_pai {
  width: 14rem!important;
}
.LeftSummary {
  top: 54px;
  position: absolute;
  width: 21.08rem;
  height: 24.55rem;
  background: url(../img/water_2_div.png) no-repeat;
  background-size: 100% 100%;
}
.LeftSummary,
.P6LeftSummary {
  left: 1rem;
}
.LeftHeader {
  height: 3.4rem;
  padding-top: 2rem;
  padding-left: .5rem;
}
.LeftHeader .LeftHeaderTitle {
  font-size: 1rem;
  font-weight: 700;
  color: #00e4ff;
}
.XuanLine {
  width: 20rem;
  height: 1.3rem;
  display: block;
  background: url(../img/xuanLine2.png) no-repeat;
  background-size: 100% 100%;
}
.LeftContent {
  text-align: left;
  padding: 1rem  .2rem  0 2rem;
}
.LeftConBox {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.conTheme {
  display: inline-block;
  color: #00e3ff;
  font-size: 1.0rem;
  line-height: 1.0rem;
  margin: .75rem 0 .88rem 0;
}
.iconPoi {
  width: .85rem;
  height: .85rem;
  background: url(../img/water_list.png) no-repeat;
  background-size: 100% 100%;
}
.LeftConTitle {
  font-size: .75rem;
  line-height: .75rem;
  color: #9fb7e0;
  margin-bottom: .6rem;
  flex: 1;
}
.alignRight {
  text-align: right;
}
.contentList .contentLiFont {
  display: inline-block;
  font-size: 1rem;
  width: 9.5rem;
  text-align: left;
}
.contentList .contentLiMount {
  font-size: .9rem;
}
.contentList .contentLiMount b {
  font-size: 1rem;
  margin-right: .4rem;
  color: #00d2ff;
}
.WaterQulAssess .contentList .contentLiFont {
  display: inline-block;
  font-size: 1rem;
  width: 10.5rem;
  text-align: left;
}
.contentLi .leftRow,
.contentLi .centerRow,
.contentLi .rightRow {
  color: #cfdcfd;
}
.contentLi .leftRowValue {
  color: #fff;
}
.contentLi0 {
  height: 2.83rem;
}
.GenIcon {
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1rem;
  position: relative;
  top: .5rem;
}
.lengthIcon {
  background: url(../img/icon1.png) no-repeat;
  background-size: 100% 100%;
}
.waterIcon {
  background: url(../img/icon2.png) no-repeat;
  background-size: 100% 100%;
}
.FlowThrIcon {
  background: url(../img/icon3.png) no-repeat;
  background-size: 100% 100%;
}
.ProSecIcon {
  background: url(../img/icon4.png) no-repeat;
  background-size: 100% 100%;
}
.CitySecIcon {
  background: url(../img/icon5.png) no-repeat;
  background-size: 100% 100%;
}
.SewOutsIcon {
  background: url(../img/icon6.png) no-repeat;
  background-size: 100% 100%;
}
.RivCheIcon {
  background: url(../img/icon7.png) no-repeat;
  background-size: 100% 100%;
}
.SewTreatIcon {
  background: url(../img/icon8.png) no-repeat;
  background-size: 100% 100%;
}
.RivIndcIcon {
  background: url(../img/icon9.png) no-repeat;
  background-size: 100% 100%;
}
/***********************    LeftSummary         end******** */
/***********************    Right      start      ******** */
.RightBoxCon {
  position: absolute;
  right: 1.5rem;
  width: 13rem;
  top: 0;
}
.titleTd {
  text-align: left;
}
.GisTabs {
  width: 100%;
  height: 2.1rem;
  background: url(../img/map_tabback.png) no-repeat;
  background-size: 100% 100%;
}
.P1tabLi {
  flex: 1;
  position: relative;
  font-size: .75rem;
  padding: .67rem 0;
  cursor: pointer;
}
.P1tabLi.active {
  color: #00e4ff;
  background-color: rgba(4, 46, 79, 0.5);
}
.P1tabLi.active:before {
  position: absolute;
  content: '';
  top: -0.45rem;
  left: -0.5rem;
  width: 6.45rem;
  height: 3rem;
  background: url(../img/map_tabback_hover.png) no-repeat;
  background-size: 100% 100%;
}
.RightBox {
  margin-top: 2.58rem;
  border: 1px solid #00d2ff;
  border-collapse: separate;
  border-radius: .26rem;
  float: right;
}
.RightBox tr > td:first-child {
  padding-left: .6rem;
  text-align: left;
}
.RightBox tr > td:last-child {
  padding-right: .6rem;
}
.RightBox td {
  vertical-align: middle;
  text-align: center;
}
.P2RightBox {
  margin-top: 0;
}
.IconListBox {
  float: right;
  text-align: left;
  padding-bottom: .4rem;
}
.IconListBox .IconLi {
  width: 100%;
  height: 1.2rem;
  display: block;
}
.IconListBox .IconLi .checkBoxInput {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: .75rem;
  height: .75rem;
  background: url(../img/box_normal.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 0!important;
  margin-right: .43rem;
}
.IconListBox .IconLi .canPointer {
  cursor: pointer;
}
.IconListBox .IconLi .checkBoxInput:checked {
  background: url(../img/box_checked.png) no-repeat;
  background-size: 100% 100%;
}
.RightBox.hidden {
  min-width: 6rem;
}
.RightBox.hidden .LegendHeader td {
  border-bottom: none;
}
.RightBox.hidden .IconListBox {
  display: none;
}
.LegendHeader {
  text-align: center;
  font-size: 0.7rem;
}
.LegendHeader td {
  height: 1.3rem;
  border-bottom: 1px solid #00d2ff;
  white-space: nowrap;
}
.LegendHeader .tableIcon {
  display: inline-block;
  float: right;
  position: relative;
  top: .2rem;
  width: .7rem;
  height: .45rem;
  background: url(../img/tc_zk.png) no-repeat;
  background-size: 50% 50%;
  background-position: 50% 50%;
  cursor: pointer;
  transform: rotate(180deg);
  transform-origin: center;
}
.LegendHeader .rotate180 {
  transform: rotate(0deg);
  transform-origin: center;
}
.RemarkIcon {
  display: inline-block;
  width: .9rem;
  height: .9rem;
  margin-right: .53rem;
}
.RiversRemark {
  background: url(../img/icon_remark1.png) no-repeat;
  background-size: 100% 100%;
}
.LakesRemark {
  width: 1.05rem;
  height: 0.85rem;
  background: url(../img/icon_remark2.png) no-repeat;
  background-size: 100% 100%;
}
.RemarkName {
  font-size: 0.6rem;
  line-height: 1.2rem;
  color: #f4fbff;
  white-space: nowrap;
}
.RemarkName2 {
  font-size: 0.63rem;
  color: #f4fbff;
  white-space: nowrap;
}
/******scroll start*******/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: transparent!important;
}
.ProBouRemark {
  background: url(../img/icon_remark3.png) no-repeat;
  background-size: 100% 100%;
}
.CityBouRemark {
  background: url(../img/icon_remark4.png) no-repeat;
  background-size: 100% 100%;
}
.CroBridgeRemark {
  background: url(../img/icon_remark0.png) no-repeat;
  background-size: 100% 100%;
}
.KeyProRemark {
  background: url(../img/icon_remark6.png) no-repeat;
  background-size: 100% 100%;
}
.KeyPortRemark {
  background: url(../img/icon_remark7.png) no-repeat;
  background-size: 100% 100%;
}
.RivIndRemark {
  background: url(../img/icon_remark8.png) no-repeat;
  background-size: 100% 100%;
}
.NatResRemark {
  background: url(../img/icon_remark9.png) no-repeat;
  background-size: 100% 100%;
}
.RivCheRemark {
  background: url(../img/icon_remark10.png) no-repeat;
  background-size: 100% 100%;
}
.SewTreatRemark {
  background: url(../img/icon_remark11.png) no-repeat;
  background-size: 100% 100%;
}
.SewOutsRemark {
  background: url(../img/icon_remark12.png) no-repeat;
  background-size: 100% 100%;
}
.ManSecRemark {
  background: url(../img/icon_remark13.png) no-repeat;
  background-size: 100% 100%;
}
.AutoStaRemark {
  background: url(../img/icon_remark14.png) no-repeat;
  background-size: 100% 100%;
}
/***********************    Right      end      ******** */
/*************part2  part  start  *********************/
.P2LeftContent {
  padding: 0 2rem;
}
.LeftConTitle2 {
  margin-top: .9rem;
}
.splitLine {
  margin: .5rem 0 .6rem 0;
  width: 100%;
  border-bottom: 1px dashed #00d2ff;
}
.P2ContentList {
  width: 100%;
}
.P2ContentList .contentLi {
  clear: both;
  height: 2.4rem;
}
.P2ContentList .contentLiFont {
  width: 13.5rem;
  float: left;
  padding: .7rem 0;
  font-size: 1rem;
}
.P2ContentList .contentLiMount {
  float: right;
  font-size: 0.9rem;
  padding: .75rem 0;
}
.P2RightBox .IconListBox {
  margin-top: 0;
}
.legendBox {
  position: absolute;
  display: table;
  top: 0;
  right: 30rem;
  min-width: 5.75rem;
  text-align: right;
}
.legend {
  overflow: hidden;
  border: 1px solid #00c4ff;
  border-radius: .6rem;
  display: table;
}
.LegendContent {
  width: 100%;
  text-align: left;
  padding: .15rem .5rem .2rem .78rem;
}
.LegendContent .LegendLi {
  height: 1.2rem;
}
.WaterQulLine {
  display: inline-block;
  width: .75rem;
  height: .2rem;
  margin-right: .2rem;
  margin-top: .2rem;
}
.legendBar {
  position: fixed;
  bottom: 2.7rem;
  right: 3rem;
}
.legendBar td {
  min-width: 1.8rem;
}
.legendBar .firstTr td {
  padding-bottom: .23rem;
}
.legendBar .secondTr td {
  height: .4rem;
}
@media only screen and (max-width: 2880px) {
}
.OneLevel {
  background-color: #4ea9ff;
}
.TwoLevel {
  background-color: #0067ff;
}
.ThreeLevel {
  background-color: #00ff00;
}
.FourLevel {
  background-color: #ffff00;
}
.FiveLevel {
  background-color: #ffd700;
}
.SixLevel {
  background-color: #fc0105;
}
.P2PopUpBox .Popuplegend .LegendLi2 + .LegendLi2 {
  margin-left: 1.2rem;
}
.P2PopUpBox .Popuplegend .OneLevel {
  background-color: #fd4800;
}
.P2PopUpBox .Popuplegend .TwoLevel {
  background-color: #f1ec3f;
}
.P2PopUpBox .Popuplegend .ThreeLevel {
  background-color: #72e75e;
}
.P2PopUpBox .splitLineBox {
  padding: 0 .8rem;
}
.P2PopUpBox .splitLine {
  margin: .3rem 0 .4rem 0;
  border-bottom: 1px dashed #0f5a6d;
}
.levelContainer {
  margin-top: .4rem;
}
.flex3 {
  flex: 3;
}
.flex2 {
  flex: 2;
}
.levelBox {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-right: .8rem;
  padding: .3rem;
}
.levelBox .insideBox {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: .8rem;
  line-height: 2.4rem;
}
.levelBox.oneLevel {
  border: 2px solid #4ea9ff;
}
.levelBox.oneLevel .insideBox {
  border: 1px dashed #4ea9ff;
  color: #4ea9ff;
}
.levelBox.twoLevel {
  border: 2px solid #0067ff;
}
.levelBox.twoLevel .insideBox {
  border: 1px dashed #0067ff;
  color: #0067ff;
}
.levelBox.threeLevel {
  border: 2px solid #00ff00;
}
.levelBox.threeLevel .insideBox {
  border: 1px dashed #00ff00;
  color: #00ff00;
}
.levelBox.fourLevel {
  border: 2px solid #ffff00;
}
.levelBox.fourLevel .insideBox {
  border: 1px dashed #ffff00;
  color: #ffff00;
}
.levelBox.fiveLevel {
  border: 2px solid #ffd700;
}
.levelBox.fiveLevel .insideBox {
  border: 1px dashed #ffd700;
  color: #ffd700;
}
.levelBox.sixLevel {
  border: 2px solid #fc0105;
}
.levelBox.sixLevel .insideBox {
  border: 1px dashed #fc0105;
  color: #fc0105;
}
.PopUpBox_sha .levelContainer {
  margin-bottom: .5rem;
}
.PopUpBox_sha .keyContent {
  padding: .3rem .2rem;
}
.PopUpBox_sha .keyContent .contentLi {
  height: 1.4rem!important;
  line-height: 1.4rem;
  padding-left: 0;
  padding-right: 0;
}
.timeTypeBox {
  float: right;
  text-align: center;
  width: 4.53rem;
  height: 1.3rem;
  line-height: 1.3rem;
  border: 1px solid #00d1eb;
  border-radius: .2rem;
}
.timeTypeBox .timeTypeSpan {
  width: 50%;
  height: 100%;
  line-height: 1.1rem;
  font-size: .7rem;
  background: #031735;
  color: #00d1eb;
  cursor: pointer;
}
.timeTypeBox .timeTypeSpan.active {
  background: #00d1eb;
  color: #030d2b;
}
.InfoListContent {
  float: right;
  width: 7rem;
  text-align: left;
}
.InfoListContent .selectLi {
  border: 1px solid #00d1eb;
  border-radius: .2rem;
  color: #fff;
  cursor: pointer;
  font-size: .7rem;
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  padding-left: .75rem;
  position: relative;
}
.InfoListContent .selectLi .spanInner {
  color: #fff;
}
.InfoListContent .selectLi .spanInner.active {
  color: #00eafc;
}
.InfoListContent .selectLi .TreeList {
  width: 7rem;
  position: absolute;
  display: none;
  z-index: 100;
  left: -1px;
  border: 1px solid #00d1eb;
  border-radius: .2rem;
}
.InfoListContent .selectLi .TreeList .treeLi {
  width: 7rem;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #fff;
  font-size: .7rem;
  padding-left: .75rem;
}
.InfoListContent .selectLi .TreeList .treeLi.active {
  color: #00eafc;
}
.InfoListContent .selectLi .TreeList.show {
  display: block;
}
.InfoListContent .selectLi .dropIcon {
  float: right;
  margin-top: .6rem;
}
.InfoListContent .dropIcon {
  margin-left: .75rem;
  margin-right: .75rem;
}
.dropIcon {
  width: .5rem;
  height: .25rem;
  background: url(../img/xlsj.png) no-repeat;
  background-size: 100% 100%;
}
.rotatel {
  transform: rotate(180deg);
  transform-origin: center;
}
/*************part2  part  end  ******************  ***/
/*************part3  part  end  ******************  ***/
.P3LeftSummary {
  width: 21.225rem;
  height: 39.5rem;
  background: url(../img/part_air_div.png) no-repeat;
  background-size: 100% 100%;
}
.P3LeftSummary .tableContanier1 {
  height: 12.5rem;
}
.P3LeftContent {
  padding: .65rem  2rem 0.8rem 2rem;
}
.showContent {
  height: 7.5rem;
  margin-bottom: 0.6rem;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.CompRateBox {
  display: inline-block;
  width: 7.5rem;
  height: 100%;
  background: url(../img/szjc_bing.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.CompRateCanvas {
  width: 100%;
  height: 100%;
}
.imageDom {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}
.CompRate {
  width: 4rem;
  height: 1.2rem;
  position: absolute;
  top: 3.15rem;
  left: 2.135rem;
}
.CompRate .rem10 {
  font-size: 1.2rem;
  font-weight: 700;
}
.CompRate .rem08 {
  font-size: .8rem;
  margin-left: -0.1rem;
}
.rightBox {
  display: inline-block;
  float: right;
  flex: 1;
  height: 100%;
}
.rightBox .rightConTitleBox {
  height: 4.15rem;
}
.rightBox .rightConTitle {
  text-align: right;
  font-size: 0.73rem;
  line-height: 1rem;
  color: #9fb7e0;
}
.RArrow {
  display: inline-block;
  width: 2.05rem;
  height: .45rem;
  margin-left: 15%;
  background: url(../img/szjc_arrow.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  top: -0.7rem;
}
.KeyBox {
  height: 1.05rem;
}
.keyWord {
  font-size: 1.05rem;
  position: relative;
  top: -1.6rem;
  right: 0;
  text-align: right;
  font-weight: 700;
}
.P3ContentList {
  width: 100%;
}
.P3ContentList .contentLi {
  clear: both;
  height: 2rem;
}
.P3ContentList .contentLiFont {
  width: 12rem;
  float: left;
  padding: .5rem 0;
  font-size: 1rem;
}
.P3ContentList .contentLiMount {
  float: right;
  font-size: 0.9rem;
  padding: .55rem 0;
}
.unstandSecList .ListTitle {
  font-size: 1rem;
  padding: 0.5rem 0;
}
.citheadTr .theadTd {
  font-size: 0.8rem;
  color: #00d2ff;
  height: 1.3rem;
  text-align: left;
}
.citheadTr .theadTd:nth-child(1) {
  min-width: 20%;
}
.citheadTr .theadTd:nth-child(2) {
  min-width: 24%;
}
.P6RightSummary2 .citheadTr .theadTd:nth-child(1) {
  min-width: 18%;
}
.P6RightSummary2 .citheadTr .theadTd:nth-child(2) {
  min-width: 20%;
}
.citheadTr .theadTd:nth-child(3) {
  min-width: 32%;
  text-align: center;
}
.citheadTr .theadTd:nth-child(4) {
  flex: 1;
}
.citheadTr .theadTd:last-child {
  text-align: right;
}
.P3LeftSummary .tableContanier .tbodyTr td:nth-child(1) {
  min-width: 20%;
}
.P3LeftSummary .tableContanier .tbodyTr td:nth-child(2) {
  min-width: 24%;
}
.P3LeftSummary .tableContanier .tbodyTr td:nth-child(3) {
  min-width: 36%;
}
.P3LeftSummary .tableContanier .tbodyTr td:nth-child(4) {
  flex: 1;
}
.P3LeftSummary .tableContanier .tbodyTr td:last-child {
  text-align: center!important;
}
.P3LeftSummary .table td:nth-child(1) {
  width: 20%;
}
.P3LeftSummary .table td:nth-child(2) {
  width: 24%;
}
.P3LeftSummary .table td:nth-child(3) {
  width: 36%;
}
.table {
  min-width: 100%;
  margin-top: 0.08rem;
}
.table td {
  line-height: 1.8rem;
  height: 1.8rem;
}
.table td:nth-child(1) {
  width: 22%;
}
.table td:nth-child(2) {
  width: 24%;
}
.table td:nth-child(3) {
  width: 26%;
}
.table td:nth-child(4) {
  flex: 1;
}
.table .theadTr {
  font-size: 0.8rem;
  color: #00d2ff;
  height: 1.3rem;
  text-align: left;
}
.table .theadTd {
  font-size: 0.8rem;
  color: #00d2ff;
  height: 1.3rem;
  text-align: left;
}
.table .theadTr > td:nth-child(3) {
  text-align: center;
}
.table .theadTr > td:nth-child(4) {
  text-align: right;
}
.table .tbodyTr {
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 0.8rem;
  text-align: left;
}
.table .tbodyTr > td:nth-child(3),
.table .tbodyTr > td:nth-child(4) {
  font-size: 0.8rem;
  text-align: center;
}
.warnTheme {
  color: #fc0105;
}
.niceTheme {
  color: #00ff00;
}
.warnBig > span {
  font-size: 1rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
.superLine .leftRowValue {
  margin-right: .8rem;
}
@media only screen and (max-width: 1920px) {
}
/*************part3  part  end  ******************  ***/
/*************part5  part  end  ******************  ***/
.P5LeftSummary {
  width: 20.225rem;
  height: 39.5rem;
  background: url(../img/part_air_div.png) no-repeat;
  background-size: 100% 100%;
}
.P5scrollBox {
  margin-top: .5rem;
  width: 15.8rem;
  height: 24rem;
}
.P5scrollBox .tbodyContainer {
  font-size: .8rem;
}
.P5scrollBox .tbodyContainer tr {
  height: 1.6rem;
}
.P5scrollBox .tbodyContainer td {
  border-collapse: collapse;
}
.P5scrollBox .tbodyContainer .firstTd {
  width: 25%;
  text-align: right;
  color: #c3d4ff;
  padding-right: .7rem;
  padding-left: 0;
}
.P5scrollBox .tbodyContainer .seconfTd {
  width: 52%;
}
.P5scrollBox .tbodyContainer .seconfTd .inner {
  width: 100%;
  height: 100%;
  border-left: 4px solid #324b75;
  padding: .53rem 0 .52rem 0;
}
.P5scrollBox .tbodyContainer .seconfTd .progressDiv {
  height: .56rem;
  background: #008bff;
  background: linear-gradient(to bottom right, #008bff, #00d1ff);
  border-radius: .3rem;
}
.P5scrollBox .tbodyContainer .threeTd {
  text-align: right!important;
  flex: 1;
  height: 65px;
  font-size: .7rem;
  color: #00d2ff;
  z-index: 5;
}
.canvas_mount {
  position: relative;
  overflow: hidden;
}
.canvas_mount .unstandCanvasBox {
  width: 17.8rem;
  min-height: 24rem;
}
.canvas_mount .rightMountBox {
  position: absolute;
  width: 4rem;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  right: 0;
  top: .5rem;
}
.P5ContentList .contentLiFont {
  width: 11.5rem;
}
/*************part5  part  end  ******************  ***/
/*************part6 blueSky  end  ******************  ***/
.blueSky {
  position: relative;
  top: -2.5rem;
}
.RightBox2 {
  position: absolute;
  top: 3.25rem;
  left: 50%;
  margin-left: -6.1rem;
  width: 12.1rem;
  height: 2.1rem;
}
.RightBox2 .GisTabs {
  width: 100%;
  height: 100%;
}
.RightBox2 .P6tabLi {
  flex: 1;
  position: relative;
  font-size: .75rem;
  padding: .7rem 0;
  cursor: pointer;
}
.RightBox2 .P6tabLi.active {
  color: #00e4ff;
  background-color: rgba(4, 46, 79, 0.5);
}
.RightBox2 .P6tabLi.active:before {
  position: absolute;
  content: '';
  top: -0.45rem;
  left: -0.2rem;
  width: 6.45rem;
  height: 3rem;
  background: url(../img/map_tabback_hover.png) no-repeat;
  background-size: 100% 100%;
}
.P6LeftSummary,
.P6RightSummary,
.P6RightSummary2 {
  top: 0;
  position: absolute;
  width: 21.075rem;
  height: 41.5rem;
  background: url(../img/part_air_div.png) no-repeat;
  background-size: 100% 100%;
  font-size: .75rem;
}
.P6LeftSummary .LeftHeader,
.P6RightSummary .LeftHeader,
.P6RightSummary2 .LeftHeader {
  height: 3.3rem;
  padding-top: 1.9rem;
}
.P6LeftSummary .LeftHeader {
  text-align: right;
  padding-right: 2.3rem;
}
.P6RightSummary {
  right: .8rem;
}
.P6LeftContent {
  padding: .4rem  1.98rem 2.2rem 1.95rem;
}
.showContentLi {
  height: 6.9rem;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.showContentLi:nth-child(1) {
  padding: .35rem 0 0 0;
}
.P6CompRateBox {
  display: inline-block;
  width: 5.45rem;
  height: 5.45rem;
  margin-right: 1.2rem;
  position: relative;
}
.P6imageDom {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}
.P6CompRateCanvas {
  width: 100%;
  height: 100%;
}
.canvasAbso {
  position: absolute;
  left: 0;
  top: 0;
}
.P6CompRate {
  height: 0.92rem;
  position: absolute;
  top: 2.26rem;
  left: 1.475rem;
}
.rem092 {
  font-size: .9rem;
}
.rem092.scale05 {
  transform: scale(1);
  font-size: .65rem;
}
.rem061 {
  font-size: .6rem;
}
.P6rightBox {
  flex: 1;
  height: 100%;
}
.P6rightBox .P6rightConTitleBox {
  text-align: justify;
  text-justify: inter-word;
  position: relative;
  right: 0;
  height: 2.15rem;
  padding-top: .68rem;
}
.P6rightBox .rightMount {
  float: right;
}
.P6rightBox .downItem {
  color: #f7823c;
}
.P6rightBox .upItem {
  color: #72e75e;
}
.secondLine .downItem {
  color: #72e75e;
}
.secondLine .upItem {
  color: #f7823c;
}
.scale05 {
  transform: scale(0.5);
}
.scale03 {
  transform: scale(0.3);
}
.icon {
  display: inline-block;
}
.downIcon,
.upIcon {
  width: .55rem;
  height: .65rem;
}
.firstLine .downIcon {
  background: url(../img/yyl_down.png) no-repeat;
  background-size: 100% 100%;
}
.firstLine .upIcon {
  background: url(../img/yyl_up.png) no-repeat;
  background-size: 100% 100%;
}
.secondLine .downIcon {
  background: url(../img/ndb_down.png) no-repeat;
  background-size: 100% 100%;
}
.secondLine .upIcon {
  background: url(../img/ndb_up.png) no-repeat;
  background-size: 100% 100%;
}
.desBox {
  padding-top: .35rem;
}
.desBox .description {
  text-align: left;
  line-height: 1.2rem;
  font-size: .75rem;
  color: #bbd4ff;
}
.rem09 {
  font-size: .92rem;
}
.rem06 {
  font-size: .61rem;
}
.showContentLi:nth-child(2) {
  padding: .63rem 0 0 0;
  margin-bottom: .88rem;
}
.P6CompRateBox2 {
  width: 5.3rem;
  height: 4.65rem;
  margin-top: .43rem;
  margin: .43rem 1.25rem 0 .23rem;
  float: left;
  padding: .23rem;
  text-align: center;
  background: url(../img/part_air_div_ndb.png) no-repeat;
  background-size: 100% 100%;
}
.P6CompRate2 {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 1.08rem;
}
.P6RightContent {
  padding: .6rem 1.85rem 1.7rem 2.08rem;
}
.P6RightContent .ListTitle2 {
  font-size: .75rem;
  line-height: .75rem;
  color: #8297bd;
  padding: .43rem 0;
  text-align: left;
}
.RightBox3 {
  margin: .93rem 0 0.6rem 0;
  width: 100%;
  height: 2.1rem;
  background: url(../img/tab2_back.png) no-repeat;
  background-size: 100% 100%;
}
.RightBox3 .GisTabs3 {
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.RightBox3 .P6tabLi3 {
  position: relative;
  font-size: .75rem;
  padding: .7rem 0 0 0;
  cursor: pointer;
}
.RightBox3 .P6tabLi3:nth-child(1) {
  width: 36.16%;
}
.RightBox3 .P6tabLi3:nth-child(2) {
  width: 35.86%;
}
.RightBox3 .P6tabLi3:nth-child(3) {
  flex: 1;
}
.RightBox3 .P6tabLi3.active {
  color: #00e4ff;
  background-color: rgba(4, 46, 79, 0.5);
}
.RightBox3 .P6tabLi3.active:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3rem;
  transform: translate(-50%, -50%);
  background: url(../img/map_tabback_hover.png) no-repeat;
  background-size: 100% 100%;
}
.tableContanier2 {
  width: 17rem;
  margin: 0 auto;
}
.P6RightSummary2 .tableContanier2 {
  width: 17.5rem;
  height: 8.6rem;
  margin: initial;
}
.P6RightSummary2 .tableContanier2 .theadTr .td3 {
  padding-right: 20px;
}
.P6RightSummary2 .tableContanier2 .td2 {
  text-align: center;
}
.P6RightSummary2 .mCSB_inside > .mCSB_container {
  margin-right: 0px;
}
.P6RightSummary2 .mCSB_scrollTools {
  right: 0;
}
.table2 {
  margin-top: 0.45rem;
}
.table2 .theadTr {
  height: 1.33rem;
  padding: .25rem 0;
  font-size: .8rem;
}
.table2 td {
  white-space: nowrap;
}
.table2 .tbodyTr td {
  height: 1.0rem!important;
  font-size: .8rem;
  line-height: 1.0rem!important;
}
.table2 .tbodyTr .td1 {
  text-indent: .73rem;
}
.table2 .tbodyTr .td1 {
  width: 6%;
}
.table2 .tbodyTr .td2 {
  width: 8%;
  text-align: left;
}
.TableIconBox {
  display: inline-block;
  width: 1rem;
  height: .8rem;
  position: relative;
  left: -0.5rem;
  top: .25rem;
  cursor: pointer;
}
/*向上*/
.triangle_border_up {
  width: 0;
  height: 0;
  border-width: 0 .25rem .25rem;
  border-style: solid;
  border-color: transparent transparent #fff;
  /*透明 透明  灰*/
  margin: 1px auto;
  position: relative;
}
/*向下*/
.triangle_border_down {
  width: 0;
  height: 0;
  border-width: .25rem .25rem 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  /*灰 透明 透明 */
  margin: 1px auto;
  position: relative;
}
.triangle_border_up.active {
  border-color: transparent transparent #00cffc;
  /*透明 透明  灰*/
}
.triangle_border_down.active {
  border-color: #00cffc transparent transparent;
  /*灰 透明 透明 */
}
.legendBox2 {
  position: absolute;
  top: 4.4rem;
}
.legendBox2 .LegendContent {
  width: 100%;
  text-align: left;
  padding: .35rem .4rem .48rem .4rem;
}
.legendBox2 .LegendContent .LegendLi {
  height: .9rem;
  font-size: .48rem;
  line-height: 1rem;
}
.legendBox2 .WaterQulLine {
  width: .43rem;
  height: .25rem;
  margin-right: .23rem;
}
.legendBox2 .OneLevel {
  background-color: #1ad91a;
}
.legendBox2 .TwoLevel {
  background-color: #ffff1a;
}
.legendBox2 .ThreeLevel {
  background-color: #ff8c1a;
}
.legendBox2 .FourLevel {
  background-color: #ff1a1a;
}
.legendBox2 .FiveLevel {
  background-color: #b51663;
}
.legendBox2 .SixLevel {
  background-color: #a3062b;
}
.GoAwayWuhan,
.P6GoAwayWuhan,
.legendBox2 {
  right: 24.875rem;
}
.bottomBox {
  padding-top: 1.3rem;
}
.goodWeatherCanvas {
  position: relative;
  margin-top: 1rem;
  width: 100%;
  height: 14.1rem;
}
.legend2 .LegendList {
  padding-top: 1rem;
  display: block;
}
.LegendLi2 {
  display: inline-block;
  font-size: .5rem;
}
.LegendLi2 .WaterQulLine {
  position: relative;
  top: -0.15rem;
}
.LegendLi2 .OneLevel {
  background-color: #72e75e;
}
.LegendLi2 .TwoLevel {
  background-color: #00e4ff;
}
.LegendLi2 .ThreeLevel {
  background-color: #f7823c;
}
.LegendLi2 + .LegendLi2 {
  margin-left: .5rem;
}
.goWuhan {
  width: 6rem;
  height: 2rem;
  position: relative;
  left: 70%;
  cursor: pointer;
  top: 60%;
  background: rgba(1, 39, 76, 0.5);
  border: 1px solid #3b0303;
}
.P6RightBox,
.P6RightSummary1,
.P6RightSummary2,
.P6legendBox1,
.P6legendBox2,
.p6GoAwayWuhan,
.goWuhan,
.PopUpBox {
  display: none;
}
.P6RightBox.show,
.P6RightSummary1.show,
.P6RightSummary2.show,
.P6legendBox1.show,
.P6legendBox2.show,
.p6GoAwayWuhan.show,
.goWuhan.show,
.PopUpBox.show {
  display: block;
}
.citheadTr {
  margin-top: .5rem;
}
.P6RightSummary1 .tableContanier2 {
  height: 27rem;
}
.P6RightSummary2 {
  background: url(../img/air_div.png) no-repeat;
  background-size: 100% 100%;
}
.P6RightSummary2 .P6RightContent {
  padding-top: 0;
  padding-bottom: .5rem;
}
.P6RightSummary2 .LeftHeader {
  padding-top: 2.3rem;
}
.P6RightSummary2 .LeftHeader .LeftHeader .LeftHeaderTitle {
  text-align: left;
  text-indent: 19%;
}
.P6RightSummary2 .SecondHeader {
  height: 1.4rem;
  padding-top: .5rem;
}
.P6RightSummary2 .SecondHeader .XuanLine {
  top: -0.5rem;
}
.P6RightSummary2 .theadTr .td2 {
  text-align: center;
}
.P6legendBox2 {
  top: 37rem;
}
.P6legendBox2 .legend {
  padding: .5rem;
  background: rgba(1, 39, 76, 0.5);
  border-radius: 5px;
}
.P6legendBox2 .LegendLi td {
  vertical-align: middle;
  height: 1rem;
  padding: 0 .3rem 0 0;
}
.P6legendBox2 .blueIcon {
  display: inline-block;
  width: 1.15rem;
  height: 1.15rem;
}
.P6legendBox2 .OneLevel {
  background: url(../img/u14635.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .TwoLevel {
  background: url(../img/u14636.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .ThreeLevel {
  background: url(../img/u14637.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .FourLevel {
  background: url(../img/u14638.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .FiveLevel {
  background: url(../img/u14639.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .SixLevel {
  background: url(../img/u14634.png) no-repeat;
  background-size: 100% 100%;
}
.P6legendBox2 .SevenLevel {
  background: url(../img/u14640.png) no-repeat;
  background-size: 100% 100%;
}
.GoAwayWuhan {
  position: absolute;
  width: 2.25rem;
  height: 2.25rem;
  background: url(../img/map_return_normal.png) no-repeat;
  background-size: 100% 100%;
  top: 1rem;
  cursor: pointer;
}
.GoAwayWuhan:hover {
  background: url(../img/map_return_hover.png) no-repeat;
  background-size: 100% 100%;
}
/***popUP  start****/
.PopUpBox {
  position: absolute;
  width: 26rem;
  top: 40%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.PaddingContent {
  padding: 0 1.75rem 0 1.43rem;
}
.PopUpHeader {
  height: 2.65rem;
  text-align: left;
  background: url(../img/popup3_top.png) no-repeat;
  background-size: 100% 100%;
}
.PopUpHeader .PaddingContent {
  padding-top: 1.3rem;
  position: relative;
}
.PopUpHeader h3 {
  font-size: .88rem;
  line-height: .88rem;
  color: #0deff6;
  border-bottom: 1px solid #01d4ff;
  height: 1.55rem;
}
.PopUpHeader .PopUpclose {
  position: absolute;
  width: .5rem;
  height: .5rem;
  right: 1.75rem;
  top: 1.6rem;
  background: url(../img/off.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.PopUpContent {
  background: url(../img/popup3_middle.png) repeat-y;
  background-size: 100% 5px;
}
.PopUpContent .PaddingContent {
  padding-top: .33rem;
  text-align: left;
}
.PopUpContent .ListTitle {
  height: 1.45rem;
  font-size: .57rem;
  line-height: .57rem;
  color: #bbd4ff;
  padding: .38rem 0 0 0;
  text-align: left;
}
.PopUpContent .contentItem {
  height: 1.43rem;
  text-align: left;
  font-size: .73rem;
  line-height: .73rem;
  padding: .33rem 0 0 0;
}
.PopUpContent .contentItem .name {
  color: #bac7e4;
}
.PopUpContent .contentItem .value {
  color: #fff;
}
.PopUpContent .contentItem:nth-child(1) {
  width: 25%;
}
.keyContent {
  padding: .4rem 0;
  border: 1px dashed #0d7296;
}
.keyContent .contentList .contentLi {
  min-height: 1.45rem;
  padding-left: .8rem;
  padding-right: .8rem;
}
.keyContent .leftRow,
.keyContent .rightRow,
.keyContent .centerRow {
  font-size: .73rem;
  line-height: 1.45rem;
  height: 1.45rem;
}
.keyContent .leftRow {
  text-align: left;
}
.keyContent .centerRow {
  text-align: center;
}
.keyContent .rightRow {
  text-align: right;
}
.keyContent1 {
  border: none;
}
.keyContent1 .contentList .contentLi {
  padding-left: 0;
  padding-right: 0;
}
.popUpcanvasBox {
  width: 22.7rem;
  height: 10rem;
  margin-top: -0.5rem;
}
.Popuplegend {
  text-align: center;
}
.Popuplegend .OneLevel {
  background: #fbe83a;
}
.Popuplegend .TwoLevel {
  background: #00cdff;
}
.Popuplegend .LegendList {
  padding-top: .3rem;
}
.Popuplegend .WaterQulLine {
  top: -0.1rem;
}
.hrefDiv {
  text-align: right;
}
.hrefDiv a {
  font-size: .68rem;
  line-height: 1rem;
  color: #10ecff;
  text-align: right;
}
.PopUpBottom {
  margin-top: -2px;
  height: 3.4rem;
  background: url(../img/popup3_bottom.png) no-repeat;
  background-size: 100% 100%;
}
.PopUpBottom .PaddingContent {
  padding-top: .13rem;
}
.canvasTab {
  height: 2.68rem;
  margin-top: .6rem;
  display: inline-block;
}
.canvasTab .tabSpan {
  padding: 0.3rem 0.68rem;
  font-size: .75rem;
  line-height: 1.60rem;
  background: #273b5b;
  color: #cedffe;
  border-radius: 3px;
  cursor: pointer;
}
.canvasTab .tabSpan + .tabSpan {
  margin-left: .5rem;
}
.canvasTab .tabSpan.active {
  background: #00e5ff;
  color: #0f0920;
}
.canvasTab.alignRight {
  float: right;
  height: 1.6rem;
}
.rightArrow {
  width: .5rem;
  height: .495rem;
  position: relative;
  margin-left: .1rem;
  cursor: pointer;
  background: url(../img/more.png) no-repeat;
  background-size: 100% 100%;
}
/***popUP  end****/
/*************part6  blueSky  end  ******************  ***/
/************ 有滚动条的所有div *** ***/
.P3LeftSummary .tableContanier1,
.P6RightSummary1 .tableContanier1,
.P6RightSummary2 .tableContanier1 {
  width: 100%;
  overflow-y: scroll;
}
.P3LeftSummary .tableContanier1::-webkit-scrollbar,
.P6RightSummary1 .tableContanier1::-webkit-scrollbar,
.P6RightSummary2 .tableContanier1::-webkit-scrollbar {
  display: none;
}
.P3LeftSummary .tableContanier,
.P6RightSummary1 .tableContanier,
.P6RightSummary2 .tableContanier {
  width: 100%;
  overflow-y: scroll;
}
.P3LeftSummary .tableContanier::-webkit-scrollbar,
.P6RightSummary1 .tableContanier::-webkit-scrollbar,
.P6RightSummary2 .tableContanier::-webkit-scrollbar {
  display: none;
}
.P5scrollBox {
  width: 100%;
  overflow-y: scroll;
}
.P5scrollBox::-webkit-scrollbar {
  display: none;
}
/************ 有滚动条的所有div *** ***/
